
.vs/CesiEasySave/v16/.suo
CESI.BS.EasySave.UnitTest/obj/CESI.BS.EasySave.UnitTest.csproj.nuget.dgspec.json
CESI.BS.EasySave.UnitTest/obj/CESI.BS.EasySave.UnitTest.csproj.nuget.g.props
CESI.BS.EasySave.UnitTest/obj/Debug/netcoreapp3.1/CESI.BS.EasySave.UnitTest.assets.cache
CESI.BS.EasySave.UnitTest/obj/Debug/netcoreapp3.1/CESI.BS.EasySave.UnitTest.csprojAssemblyReference.cache
CESI.BS.EasySave.UnitTest/obj/project.assets.json
CESI.BS.EasySave.UnitTest/obj/project.nuget.cache
CESI.BS.EasySave/obj/CESI.BS.EasySave.csproj.nuget.dgspec.json
CESI.BS.EasySave/obj/CESI.BS.EasySave.csproj.nuget.g.props
CESI.BS.EasySave/obj/Debug/netcoreapp3.1/CESI.BS.EasySave.assets.cache
CESI.BS.EasySave/obj/Debug/netcoreapp3.1/CESI.BS.EasySave.csprojAssemblyReference.cache
CESI.BS.EasySave/obj/Debug/netcoreapp3.1/CESI.BS.EasySave.exe
CESI.BS.EasySave/obj/project.assets.json
CESI.BS.EasySave/obj/project.nuget.cache
CESI.CesiEasySave.IntegrationTest/obj/CESI.CesiEasySave.IntegrationTest.csproj.nuget.dgspec.json
CESI.CesiEasySave.IntegrationTest/obj/CESI.CesiEasySave.IntegrationTest.csproj.nuget.g.props
CESI.CesiEasySave.IntegrationTest/obj/Debug/netcoreapp3.1/CESI.CesiEasySave.IntegrationTest.assets.cache
CESI.CesiEasySave.IntegrationTest/obj/Debug/netcoreapp3.1/CESI.CesiEasySave.IntegrationTest.csprojAssemblyReference.cache
CESI.CesiEasySave.IntegrationTest/obj/project.assets.json
CESI.CesiEasySave.IntegrationTest/obj/project.nuget.cache
CesiEasySave/obj/CesiEasySave.csproj.nuget.dgspec.json
CesiEasySave/obj/CesiEasySave.csproj.nuget.g.props
CesiEasySave/obj/Debug/netcoreapp3.1/CesiEasySave.assets.cache
CesiEasySave/obj/Debug/netcoreapp3.1/CesiEasySave.csprojAssemblyReference.cache
CesiEasySave/obj/Debug/netcoreapp3.1/CesiEasySave.exe
CesiEasySave/obj/project.assets.json
CesiEasySave/obj/project.nuget.cache
