html {
    body {
        .acces-profil-container-fluid {
            display: flex;
            background-image: url('../backgroundAccessToProfil.png');
            background-size: 100%;
            object-fit: cover;
            justify-content: center;
            margin-top:10%;
            .acces-profil-container {
                .acces-profil-jumbotron {
                    margin-top:7%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom:7%;
                    h3 {
                        text-align: center;
                        font-weight: bold;
                        letter-spacing: 1px;
                        padding-bottom: 3%;
                    }
                    .access-profil-content {
                        text-align: justify;
                        padding: 5%;
                    }
                    a{
                        text-align: center;
                        button {
                            border-radius: 25px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .acces-profil-sous-content {
                        padding-top:3%;
                        opacity: 0.5;
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1600px) {
    html {
        body {
            .acces-profil-jumbotron {
                h3 {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1rem;
                    letter-spacing: 0px;
                    margin-bottom:0;
                    padding-bottom: 1%;
                }
                .access-profil-content {
                    text-align: justify;
                    padding:4%;
                    font-size:0.9rem;
                }
                a{
                    text-align: center;
                    button {
                        border-radius: 25px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        font-size:0.8rem;
                    }
                }
                .acces-profil-sous-content {
                    padding-top:3%;
                    opacity: 0.5;
                    font-size:0.9rem;
                    text-align: center;
                }  
            }
        }
    }
}