html {
    body {
        .container-fluid-article-home-humboldt {
            margin-top: 7%;
        }

        .article-home-menu {
            display: flex;
            margin-top: 3%;
            .article-home-menu-title {
                letter-spacing: 1px;
                font-weight: bolder;
                font-size: 33px;
            }
            .article-home-menu-nav {
                display: flex;
                align-content: flex-end;
                align-items: flex-end;
                align-self: flex-end;
                justify-content: flex-end;

                .article-home-menu-nav-button {
                    font-size: 14px;
                    border-radius: 20px 20px 20px 20px;
                    text-align: justify;
                    letter-spacing: 1px;
                }
            }
        }

        .article-header {
            margin-top: 3%;
            padding: 0%;
            .article-header-image-container {
                height: 300px;
                .article-header-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px 5px 0 0;
                }
            }

            .article-header-content {
                padding: 2%;

                .article-header-author-container {
                    display: flex;
                    flex-direction: row;
                    align-content: flex-start;

                    .article-header-author-image {
                        border-radius: 100%;
                        height: 32px;
                        width: 32px;
                    }
                    .article-header-author-name-container {
                        height: 32px;
                        display: flex;
                        flex-direction: row;
                        align-self: center;
                        align-items: center;
                        justify-content: flex-start;

                        .article-header-author-name {
                            font-size: 12px;
                            padding-right: 5px;
                            font-weight: bold;
                        }
                    }
                }

                .article-header-content-body {
                    padding-left: 5%;

                    .article-header-content-title {
                        font-size: 40px;
                        font-weight: bold;
                    }

                    .article-header-position-container {
                        padding-bottom: 2%;
                        padding-top: 2%;
                        .article-header-content-position-tag {
                            padding-right: 1%;
                            .article-header-content-tag {
                                margin-top: 1%;
                                font-size: 12px;
                                border-radius: 20px 20px 20px 20px;
                                text-align: justify;
                                letter-spacing: 1px;
                            }
                        }
                    }

                    .article-header-content-position-like-and-comment {
                        display: flex;
                        justify-content: flex-end;

                        .article-header-content-like-comment {
                            padding-left: 2%;
                        }
                    }
                }
            }
        }
    }
}
