html {
    body {
        .component-help-us-patreon-container {
            display: flex;
            margin-top: 6%;
            justify-content: center;

            .component-help-us-patreon-card {
                width: 320px;

                .component-help-us-patreon-header {
                    font-size: 20px;
                    font-weight:bold;
                    letter-spacing: 1px;
                    display: flex;
                    justify-content: center;
                }

                .component-help-us-patreon-list {

                    .component-help-us-patreon-list-img {
                        width: 64px;
                        height: 64px;
                    }
                    .component-help-us-patreon-list-title {
                        font-size:30px;
                    }
                    .component-help-us-patreon-list-button {
                        border-radius: 20px 20px 20px 20px;
                    }
                }
            }
        }

        .component-message-box-container {
            display: flex;
            margin-top: 6%;
            justify-content: center;

            .component-message-box-card {
                width: 320px;
                text-align: justify;
            }
        }

        .component-best-article-container {
            display: flex;
            margin-top: 6%;
            justify-content: center;

            .component-best-article-card {
                width: 320px;
                .component-best-article-card-header {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }
}