html {
    body {
        .faq-bg {
            background-color : #222222;
        }

        .faq-container-fluid {
            display: flex;
            justify-content: center;
            .faq-title-container-fluid {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                margin-top:15%;
                img {
                    width:15%;
                    height:15%;
                }
                
                h2 {
                    color:white;
                    font-weight: bold;
                    letter-spacing: 1px;

                    margin-left:2%;
                    margin-top: 2%;
                }
            }
            .faq-accordion {
                margin : 5% 0% 15% 0%;
                .card-accordion-faq {
                    margin-bottom: 3%;
                    border-radius: 5px;
                    .card-header-accordion-faq {
                        display: flex;
                        justify-content: center;
                        .card-title-accordion-faq {
                            text-decoration: none;
                            color: #222222;
                            text-align: center;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .card-content-accordion-faq {
                        font-weight: bold;
                        letter-spacing: 1px;
                        opacity: 0.6;
                    } 
                }
            }
        }
    }
}