html {
    body {
        .bg-profil {
            background-color: white;
            .team-list-container-fluid {
                display: flex;
                flex-direction: column;
                justify-items: center;
                padding-top: 7%;
                .team-list-title {
                    text-align: center;
                    color: #222222;
                    letter-spacing: 1px;
                    font-size: 1.7rem;
                }
                .team-list-container {
                    display: flex;
                    justify-content: center;
                    padding: 1%;
                    .team-list-link {
                        .team-list-button {
                            border-radius: 22px;
                            letter-spacing: 1px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .info-perso-jumbotron {
                margin: 2%;
                padding: 2rem 2rem;
                .info-perso-div-img-content {
                    display: flex;
                    flex-direction: row;
                    .info-perso-img {
                        width: 20%;
                        height: 20%;
                    }
                    .info-perso-main-content {
                        padding-left: 2%;
                        display: flex;
                        align-self: center;
                        flex-direction: column;
                        .info-perso-main-content-span {
                            letter-spacing: 1px;
                            font-weight: bold;
                        }
                    }
                }

                .info-perso-div-caracteristiques {
                    padding-top: 3%;
                    display: flex;
                    flex-direction: column;
                    h2 {
                        font-weight: bold;
                    }
                    .info-perso-libelle-caracteristiques {
                        font-weight: bold;
                        letter-spacing: 1px;
                        opacity: 0.6;
                    }
                }

                .info-perso-col-dialecte {
                    display: flex;
                    flex-direction: column;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .info-perso-dialecte-libelle {
                        font-weight: bold;
                        letter-spacing: 1px;
                        opacity: 0.6;
                    }
                }
            }

            .archi-profil-button {
                display: flex;
                justify-content: center;
                align-self: center;
                .mes-projets-link {
                    .mes-projets-button {
                        height: 5rem;
                        border-radius: 120px;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
            }

            .archi-formation-centre-interet-container-fluid {
                margin-top: 3%;
                .centre-interet-jumbotron {
                    margin-left: 2.5%;
                    padding: 2rem 2rem !important;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .centre-interet-col {
                        padding: 2%;
                        display: flex;
                        flex-direction: column;
                        span {
                            margin-bottom: 1%;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                }
                .formation-jumbotron {
                    margin-right: 3%;
                    padding: 2rem 2rem !important;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .formation-col {
                        padding: 2%;
                        .formation-card {
                            margin-top: 3%;
                            margin-bottom: 3%;
                            span {
                                margin: 5%;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }

            .archi-competence-et-trans-container-fluid {
                margin-top: 3%;
                .competence-jumbotron {
                    margin-left: 2%;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .competence-div {
                        margin-bottom: 2%;
                        .col {
                            padding: 2%;
                            display: flex;
                            flex-direction: column;
                            .competence-span-title {
                                font-weight: bold;
                                letter-spacing: 1px;
                                opacity: 0.6;
                            }
                        }
                    }
                }

                .competence-trans-jumbotron {
                    margin-right: 3%;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .competence-trans-div {
                        display: flex;
                        flex-direction: column;
                        padding: 3%;

                        .competence-trans-span-title {
                            font-weight: bold;
                            letter-spacing: 1px;
                            opacity: 0.6;
                        }
                    }
                }
            }

            .archi-experience-container-fluid {
                margin-top: 3%;
                .archi-experience-jumbotron {
                    margin-right: 2.1%;
                    margin-left: 1.7%;
                    background-color: #ffc107;
                    h2 {
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .archi-experience-col {
                        padding: 1%;
                        .archi-experience-titre {
                            margin: 5% 5% 0% 5%;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .archi-experience-date {
                            margin-left: 5%;
                            font-weight: bold;
                            letter-spacing: 1px;
                            opacity: 0.5;
                            font-size: 0.8rem;
                        }

                        .archi-experience-content {
                            margin-left: 5%;
                            margin-right: 5%;
                            margin-top: 5%;
                            margin-bottom: 10%;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    html {
        body {
            .bg-profil {
                background-color: #222222;
                .team-list-container-fluid {
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    padding-top: 7%;
                    .team-list-title {
                        text-align: center;
                        color: white;
                        letter-spacing: 1px;
                        font-size: 1.7rem;
                    }
                    .team-list-container {
                        display: flex;
                        justify-content: center;
                        padding: 1%;
                        .team-list-link {
                            .team-list-button {
                                border-radius: 22px;
                                letter-spacing: 1px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .info-perso-jumbotron {
                    margin: 2%;
                    padding: 2rem 2rem;
                    .info-perso-div-img-content {
                        display: flex;
                        flex-direction: row;
                        .info-perso-img {
                            width: 20%;
                            height: 20%;
                        }
                        .info-perso-main-content {
                            padding-left: 2%;
                            display: flex;
                            align-self: center;
                            flex-direction: column;
                            .info-perso-main-content-span {
                                letter-spacing: 1px;
                                font-weight: bold;
                            }
                        }
                    }

                    .info-perso-div-caracteristiques {
                        padding-top: 3%;
                        display: flex;
                        flex-direction: column;
                        h2 {
                            font-weight: bold;
                        }
                        .info-perso-libelle-caracteristiques {
                            font-weight: bold;
                            letter-spacing: 1px;
                            opacity: 0.6;
                        }
                    }

                    .info-perso-col-dialecte {
                        display: flex;
                        flex-direction: column;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .info-perso-dialecte-libelle {
                            font-weight: bold;
                            letter-spacing: 1px;
                            opacity: 0.6;
                        }
                    }
                }

                .archi-profil-button {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    .mes-projets-link {
                        .mes-projets-button {
                            height: 5rem;
                            border-radius: 120px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                }

                .archi-formation-centre-interet-container-fluid {
                    margin-top: 3%;
                    .centre-interet-jumbotron {
                        margin-left: 2.5%;
                        padding: 2rem 2rem !important;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .centre-interet-col {
                            padding: 2%;
                            display: flex;
                            flex-direction: column;
                            span {
                                margin-bottom: 1%;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .formation-jumbotron {
                        margin-right: 3%;
                        padding: 2rem 2rem !important;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .formation-col {
                            padding: 2%;
                            .formation-card {
                                margin-top: 3%;
                                margin-bottom: 3%;
                                span {
                                    margin: 5%;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }

                .archi-competence-et-trans-container-fluid {
                    margin-top: 3%;
                    .competence-jumbotron {
                        margin-left: 2%;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .competence-div {
                            margin-bottom: 2%;
                            .col {
                                padding: 2%;
                                display: flex;
                                flex-direction: column;
                                .competence-span-title {
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                    opacity: 0.6;
                                }
                            }
                        }
                    }

                    .competence-trans-jumbotron {
                        margin-right: 3%;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .competence-trans-div {
                            display: flex;
                            flex-direction: column;
                            padding: 3%;

                            .competence-trans-span-title {
                                font-weight: bold;
                                letter-spacing: 1px;
                                opacity: 0.6;
                            }
                        }
                    }
                }

                .archi-experience-container-fluid {
                    margin-top: 3%;
                    .archi-experience-jumbotron {
                        margin-right: 2.1%;
                        margin-left: 1.7%;
                        background-color: #ffc107;
                        h2 {
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .archi-experience-col {
                            padding: 1%;
                            .archi-experience-titre {
                                margin: 5% 5% 0% 5%;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                            .archi-experience-date {
                                margin-left: 5%;
                                font-weight: bold;
                                letter-spacing: 1px;
                                opacity: 0.5;
                                font-size: 0.8rem;
                            }

                            .archi-experience-content {
                                margin-left: 5%;
                                margin-right: 5%;
                                margin-top: 5%;
                                margin-bottom: 10%;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
