html {
    body {
        .looking-for-job-container-fluid {
            margin-bottom: 10%;
            height: 600px;
            margin-top: 10%;
            .row {
                height: 100%;
                .looking-for-job-background {
                    background-color: #484554;
                    position: relative;
                    .looking-for-job-img {
                        width: 100%;
                        position: absolute;
                        left: 32%;
                        bottom: 7%;
                    }
                }
                .looking-for-job-content {
                    .looking-for-job-content-title {
                        padding-top: 5%;
                        text-align: center;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .looking-for-job-content-subtitle {
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.2rem;
                        opacity: 0.4;
                        letter-spacing: 1px;
                    }

                    .looking-for-job-content-div {
                        padding: 8% 20% 1% 23%;
                        text-align: justify;
                        justify-content: center;
                        display: flex;
                        flex-direction: column;
                    }
                    a {
                        margin-top: 5%;
                        .looking-for-job-button {
                            border-radius: 25px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    html {
        body {
            .looking-for-job-container-fluid {
                margin-bottom: 10%;
                height: 600px;
                margin-top: 10%;
                .row {
                    height: 100%;
                    .looking-for-job-background {
                        background-color: #484554;
                        position: relative;
                        .looking-for-job-img {
                            width: 100%;
                            position: absolute;
                            left: 32%;
                            bottom: 7%;
                        }
                    }
                    .looking-for-job-content {
                        .looking-for-job-content-title {
                            padding-top: 5%;
                            font-size: 1.2rem;
                            text-align: center;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .looking-for-job-content-subtitle {
                            text-align: center;
                            font-weight: bold;
                            font-size: 0.9rem;
                            opacity: 0.4;
                            letter-spacing: 1px;
                        }

                        .looking-for-job-content-div {
                            padding: 8% 20% 1% 23%;
                            text-align: justify;
                            justify-content: center;
                            display: flex;
                            flex-direction: column;
                            span {
                                font-size: 0.9rem;
                            }
                        }
                        a {
                            margin-top: 5%;
                            .looking-for-job-button {
                                border-radius: 25px;
                                font-size: 0.8rem;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
