html {
    body {
        .navbar-home-container-fluid {
            display: flex;
            z-index: 100;
            position: absolute;
            padding: 1%;
            justify-content: center;
            align-content: flex-end;
            .navbar-home-container {
                max-width: 1400px;

                .navbar-home {
                    width: 100%;

                    .navbar-home-col {
                        .navbar-home-brandname {
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: #222222;
                            letter-spacing: 1px;
                        }
                    }

                    .nav-bar-menu-special-link {
                        text-transform: uppercase;
                        font-size: 0.8rem;
                        color: #222222;
                        font-weight: bold;
                        margin-right: 40px;
                        letter-spacing: 2px;
                        align-self: center;
                        position: relative;
                        padding: 0;
                    }
                    .einfMg {
                        background: transparent;
                        border: 0;
                        margin-right: 40px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        font-family: inherit;
                        color: #222222;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-transition: opacity 250ms;
                        transition: opacity 250ms;
                        cursor: pointer;
                        position: relative;
                        z-index: 2;
                    }
                    .nav-bar-menu-link {
                        text-transform: uppercase;
                        font-size: 0.8rem;
                        color: #222222;
                        font-weight: bold;
                        margin-right: 40px;
                        letter-spacing: 2px;
                        align-self: center;
                        position: relative;
                        padding: 0;
                        transition: color 0.2s ease;
                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            top: 100%;
                            height: 3px;
                            width: 0;
                            right: 0;
                        }
                        &::before {
                            transition: width 0.25s
                                cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
                            background: #ffc107;
                        }
                        &::after {
                            transition: width 0.2s
                                cubic-bezier(0.29, 0.18, 0.26, 0.83);
                            background: #c1564c;
                        }
                        &:hover::before,
                        &:hover::after {
                            left: 0;
                            width: 100%;
                        }
                    }

                    .se-connecter-dropdown-container {
                        width: 25rem;
                        .se-connecter-dropdown-section {
                            margin: 5%;
                            position: relative;
                            z-index: 1;
                            .se-connecter-dropdown-title {
                                text-transform: uppercase;
                                margin-left: 10%;
                                font-weight: bold;
                                font-size: 1.2rem;
                                margin-top: 0;
                                margin-bottom: 5%;
                                color: #9d8eb5;
                            }
                            .se-connecter-dropdown-content-container {
                                display: flex;
                                > div:first-of-type {
                                    margin-right: 15px;
                                }
                                .se-connecter-dropdown-content-title {
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                    opacity: 0.4;
                                    padding-left: 20%;
                                    color: #9d8eb5;
                                }
                                .se-connecter-dropdown-content-li {
                                    margin-bottom: 5%;
                                    a {
                                        font-weight: bold;
                                        transition-duration: 0.3s;
                                    }
                                    a:hover {
                                        color: #c1564c;
                                    }
                                }
                            }

                            .se-connecter-dropdwon-icons {
                                margin-bottom: 5%;
                            }
                        }
                    }

                    .blog-dropdown-section {
                        margin: 5%;
                        .blog-dropdown-title {
                            font-weight: bold;
                            font-size: 1.2rem;
                        }
                        .blog-dropdown-subtitle {
                            font-size: 0.8rem;
                            font-weight: bold;
                            opacity: 0.6;
                        }
                        .blog-dropdown-title-section {
                            font-size: 0.8rem;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .redimensionn-img-container {
                            margin-right: 4%;
                            .redimensionn-img {
                                width: 38px;
                                height: 38px;
                                opacity: 0.6;
                                border-radius: 100%;
                                object-fit: cover;
                            }
                        }
                        .blog-dropdown-title-content-section {
                            font-size: 0.8rem;
                            font-weight: bold;
                            opacity: 0.5;
                            letter-spacing: 1px;
                        }
                    }

                    .sign-out-button {
                        border-radius: 25px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    html {
        body {
            .navbar-home-container-fluid {
                display: flex;
                z-index: 100;
                position: absolute;
                padding: 1%;
                justify-content: center;
                align-content: flex-end;
                .navbar-home-container {
                    max-width: 1200px;

                    .navbar-home {
                        width: 100%;
                        .navbar-home-col {
                            .navbar-home-brandname {
                                font-size: 1rem;
                                font-weight: bold;
                                color: #b49ab0;
                                letter-spacing: 1px;
                            }
                        }

                        .nav-bar-menu-special-link {
                            text-transform: uppercase;
                            font-size: 0.5rem;
                            color: #b49ab0;
                            font-weight: bold;
                            margin-right: 40px;
                            letter-spacing: 2px;
                            align-self: center;
                            position: relative;
                            padding: 0;
                        }
                        .cYbhuz {
                            background: transparent;
                            border: 0;
                            margin-right: 40px;
                            font-size: 0.7rem;
                            font-weight: bold;
                            font-family: inherit;
                            color: #b49ab0;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-transition: opacity 250ms;
                            transition: opacity 250ms;
                            cursor: pointer;
                            position: relative;
                            z-index: 2;
                        }
                        .nav-bar-menu-link {
                            text-transform: uppercase;
                            font-size: 0.5rem;
                            color: #b49ab0;
                            font-weight: bold;
                            margin-right: 40px;
                            letter-spacing: 2px;
                            align-self: center;
                            position: relative;
                            padding: 0;
                            transition: color 0.2s ease;
                            &::before,
                            &::after {
                                content: '';
                                position: absolute;
                                top: 100%;
                                height: 2px;
                                width: 0;
                                right: 0;
                            }
                            &::before {
                                transition: width 0.25s
                                    cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
                                background: #ffc107;
                            }
                            &::after {
                                transition: width 0.2s
                                    cubic-bezier(0.29, 0.18, 0.26, 0.83);
                                background: #c1564c;
                            }
                            &:hover::before,
                            &:hover::after {
                                left: 0;
                                width: 100%;
                            }
                        }

                        .se-connecter-dropdown-container {
                            width: 20rem;
                            .se-connecter-dropdown-section {
                                margin: 5%;
                                position: relative;
                                z-index: 1;
                                .se-connecter-dropdown-title {
                                    text-transform: uppercase;
                                    margin-left: 10%;
                                    font-weight: bold;
                                    font-size: 0.8rem;
                                    margin-top: 0;
                                    margin-bottom: 5%;
                                    color: #9d8eb5;
                                }
                                .se-connecter-dropdown-content-container {
                                    display: flex;
                                    > div:first-of-type {
                                        margin-right: 15px;
                                    }
                                    .se-connecter-dropdown-content-title {
                                        font-size: 0.8rem;
                                        font-weight: bold;
                                        letter-spacing: 1px;
                                        opacity: 0.4;
                                        padding-left: 20%;
                                        color: #9d8eb5;
                                    }
                                    .se-connecter-dropdown-content-li {
                                        margin-bottom: 2%;
                                        a {
                                            font-size: 0.8rem;
                                            font-weight: bold;
                                            transition-duration: 0.3s;
                                        }
                                        a:hover {
                                            color: #c1564c;
                                        }
                                    }
                                }

                                .se-connecter-dropdwon-icons {
                                    margin-bottom: 1%;
                                    a {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                        }

                        .gUGOwU {
                            width: 20rem;
                            .blog-dropdown-section {
                                margin: 3%;
                                li {
                                    margin-bottom: 1%;
                                }
                                .blog-dropdown-title {
                                    font-weight: bold;
                                    font-size: 0.8rem;
                                }
                                .blog-dropdown-subtitle {
                                    font-size: 0.6rem;
                                    font-weight: bold;
                                    opacity: 0.6;
                                }
                                .blog-dropdown-title-section {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 0%;
                                    font-size: 0.6rem;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                                .redimensionn-img-container {
                                    margin-right: 4%;
                                    .redimensionn-img {
                                        width: 38px;
                                        height: 38px;
                                        opacity: 0.6;
                                        border-radius: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .blog-dropdown-title-content-section {
                                    display: flex;
                                    align-items: flex-start;
                                    font-size: 0.8rem;
                                    font-weight: bold;
                                    opacity: 0.5;
                                    letter-spacing: 1px;
                                }
                            }

                            .sign-out-button {
                                border-radius: 25px;
                                font-weight: bold;
                                letter-spacing: 1px;
                                font-size: 0.5rem;
                            }
                        }

                        .einfMg {
                            background: transparent;
                            border: 0;
                            margin-right: 40px;
                            font-size: 0.6rem;
                            font-weight: bold;
                            font-family: inherit;
                            color: #222222;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-transition: opacity 250ms;
                            transition: opacity 250ms;
                            cursor: pointer;
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
}
