html {
    body {
        .title-our-school {
            position : absolute;
            left: 58%;
            padding: 4%;
            padding-top:5%;
            .title-our-school-content {
                font-weight: bold;
                letter-spacing: 1px;
            }
        }

        .school-section-container-fluid {
            padding-top:5%;
            height:700px;
            .school-section-row {
                height: 100%;
                .school-section-col {
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    .school-section-col-content {
                        padding-top:8%;
                        width: 50%; 
                    }
                }
                .school-section-col-colour {
                    background-color: #ffc107;
                    position: relative;
                }

                .school-section-logo {
                    position: absolute;
                    bottom:25%;
                    right: 74%;
                }
            }
        }
    }
}



@media screen and (max-width:1600px) {
    html {
        body {
            .title-our-school-content {
                font-weight: bold;
                font-size:1.2rem;
                letter-spacing: 1px;
            }
    
            .school-section-col-content {
                padding-top:8%;
                width: 50%; 
                font-size:0.9rem;
            }         
        }
    }
}