html {
    body {
        .purpose-about-us-container-fluid {
            height:600px;
            margin-top:10%;
            .purpose-about-us-row {
                height:100%;
                .purpose-container-bg {
                    background-color: #222222; 
                    .purpose-about-us-img {
                        width: 90%;
                        position: absolute;
                        left:60%;
                        bottom: 15%;
                    }
                }
                .purpose-container-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .purpose-title {
                        padding-top:5%;
                        text-align: center;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                    .purpose-content {
                        padding: 13% 15% 13% 30%;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1600px) {
    html {
        body {
            .purpose-about-us-container-fluid {
                height:600px;
                margin-top:10%;
                .purpose-about-us-row {
                    height:100%;
                    .purpose-container-bg {
                        background-color: #222222; 
                        .purpose-about-us-img {
                            width: 90%;
                            position: absolute;
                            left:55%;
                            bottom: 15%;
                        }
                    }
                    .purpose-container-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .purpose-title {
                            font-size:1.2rem;
                            padding-top:5%;
                            text-align: center;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        .purpose-content {
                            font-size:0.9rem;
                            padding: 13% 15% 13% 30%;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}