html {
    body {

        .list-article-title {
            font-weight: bolder;
            font-size:32px;
            margin-bottom:3%;
            margin-top:3%;
            padding-left:2.2%;
        }
        .list-article-jumbotron {
            display: flex;
            justify-content: center;
            margin-bottom:5%;
            .list-article-card {
                box-shadow: 0 2px 8px 0 rgba(103,151,255,.09), 0 4px 32px 0 rgba(103,151,255,.09);
                .list-article-author {
                    font-weight: bold;
                }
                .list-article-number-icon {
                    font-weight: bold;
                    margin-right: 7%;
                }
                .list-article-icon {
                    height: 24px;
                    width:24px
                }
            }
        }
    }
}



@media screen and (max-width:1600px) {
    html {
        body {
            .list-article-title {
                font-weight: bolder;
                font-size:1.5rem;
                margin-bottom:3%;
                margin-top:3%;
                padding-left:2.2%;
            }
            .list-article-jumbotron {
                display: flex;
                justify-content: center;
                margin-bottom:5%;
                .list-article-card {
                    box-shadow: 0 2px 8px 0 rgba(103,151,255,.09), 0 4px 32px 0 rgba(103,151,255,.09);
                    .list-article-author {
                        font-weight: bold;
                        font-size:0.8rem;
                    }
                    p {
                        font-size:0.8rem;
                    }
                    .list-article-number-icon {
                        font-weight: bold;
                        margin-right: 7%;
                        font-size:0.8rem;
                    }
                    .list-article-icon {
                        height: 1.2rem;
                        width:1.2rem;
                    }
                }
                .badge {
                    font-size: 0.8rem;
                }
            }
        }
    }
}